<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <title>Music Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Music Manager</h1>
    <br/>
    <form id="path_form" action="{{ url_for('process_songs') }}" method="post" autocomplete="off">
        <table id="form_wrapper" style="margin: auto; text-align: center;">
            <tr>
                <td>
                    <table id="form_table">
                        <tr>
                            <td class="form_label">Source Path:</td>
                            <td><input class="form_field" type="text" name="src_path" value="{{ form_values.get('src_path', '') }}" required /></td>
                        </tr>
                        <tr>
                            <td class="form_label">Destination Path:</td>
                            <td><input class="form_field" type="text" name="dest_path" value="{{ form_values.get('dest_path', '') }}" /></td>
                        </tr>
                        <tr>
                            <td class="form_label">Include OSTs</td>
                            <td><input type="checkbox" name="include_osts" value="true" {% if form_values.get('include_osts') %}checked{% endif %} /></td>
                        </tr>
                    </table>
                </td>
                <td><input type="submit" value="Submit" style="width: 100px;"/></td>
            </tr>
        </table>
    </form>

    {% if error %}
        {% if error_code %}
            <h2>{{ error_code }}</h2>
        {% endif %}
        <br/>
        <div class="error">{{ error|safe }}</div>
    {% endif %}

    {% if results %}
        <form id="updater_form" action="{{ url_for('update_songs') }}" method="post" autocomplete="off">
            {% for artist, albums in results.items() | sort %}
                <div class="artist">
                    <h2>{{ artist }}</h2>
                    {% for album, tracks in albums.items() | sort %}
                        <div class="album">
                            <h3>Original album name: {{ album }}</h3>
                            {% for track in tracks %}
                                <div class="track">
                                    <h4>Path: {{ track['path'] }}</h4>
                                    <table>
                                        {% for section, disp in section_order %}
                                            <tr>
                                                <td style="font-weight: bold;">{{ disp }}</td>
                                                {% for field_name, field in track['fields'].items() | sort %}
                                                    {% if section == 'score'  %}
                                                        {% if field[section] != None %}
                                                            <td>{{ field[section] }}</td>
                                                        {% else %}
                                                            <td>-</td>
                                                        {% endif %}
                                                    {% elif section == 'new' and field_name != 'album_type' %}
                                                        <td><input class="form_field" type="text" name="{{ track['path'] }}::{{ field_name }}" value="{{ field[section] }}" required /></td>
                                                    {% else %}
                                                        <td>{{ field[section] }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td style="font-weight: bold;">Accept All <input class="track_all" type="checkbox" checked /></td>
                                            {% for field_name in track['fields'] | sort %}
                                                <td><input type="checkbox" name="{{ track['path'] }}::{{ field_name }}::checked" checked /></td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" style="width: 100px;"/>
        </form>
    {% endif %}
</body>
</html>
